body { /* reset */
  margin:0;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

h1 {
  font-family: Tahoma, Verdana, sans-serif;
}

.diagram {
  border:1px solid black;
  cursor: grab;
  /*background-color: ghostwhite;*/
}

.panning {
  cursor: grabbing;
}

.zooming-in {
  cursor: zoom-in;
}

.zooming-out {
  cursor: zoom-out;
}

.grid {
  stroke-width: 1;
  stroke: #a4a4a4
}

.shapes {
  stroke-width: 1;
  stroke: indianred;
  fill: moccasin;
}

/*.shapes:hover {
  stroke: dodgerblue;
  fill: lightskyblue;
}*/

.flowlines {
  marker-end: url("#arrow");
  stroke-width: 1;
  stroke: indianred;
  fill: none;
}

/*.flowlines:hover {
  marker-end: url("#arrow-hover");
  stroke: dodgerblue;
}*/

.flowlines-shadow {
  stroke-width: 12;
  stroke: transparent;
  fill: none;
}

/*.flowlines-shadow:hover {
  stroke: lightskyblue;
}*/

.flowlines-add {
  stroke-width: 1;
  stroke: transparent;
  fill: none;
}

.draggable:hover .flowlines-add {
  stroke-width: 2;
  stroke: dodgerblue;
  fill: #daeefe;
  cursor: pointer
}

#arrow {
  stroke-width: 0;
  stroke: none;
  fill: indianred;
}

/*#arrow-hover {
  stroke-width: 0;
  stroke: none;
  fill: dodgerblue;
}*/

text {
  stroke: none;
  fill: black;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}

.draggable {
  cursor: move;
}
